# Project exclude paths
/common/target/**
!/common/target/!target/*.jar
/doctor-server/target/**
!/doctor-server/target/*.jar
/drug-server/target/**
!/drug-server/target/*.jar
/gateway/target/**
!/gateway/target/*.jar
/outpatient-server/target/**
!/outpatient-server/target/*.jar
/public-server/target/**
!/public-server/target/*.jar
/register-server/target/**
!/register-server/target/*.jar